
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

		*, 
		html {
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		}


		.gauge {
		  width: 100%;
		  max-width: 250px;
		  font-family: "Roboto", sans-serif;
		  font-size: 32px;
		  color: #004033;
		  margin: 0 auto;
		}

		.gauge__body {
		  width: 100%;
		  height: 0;
		  padding-bottom: 50%;
		  background: #b4c0be;
		  position: relative;
		  border-top-left-radius: 100% 200%;
		  border-top-right-radius: 100% 200%;
		  overflow: hidden;
		}

			.gauge__fill {
		  position: absolute;
		  top: 100%;
		  left: 0;
		  width: inherit;
		  height: 100%;
		  background: linear-gradient(180deg, #117959 0%, #22f5ea 100%);
		  transform-origin: center top;
		  transition: transform 0.2s ease-out;
		}
	

		.gauge__cover {
		  width: 75%;	
		  height: 150%;
		  background: #1e293b;
		  border-radius: 50%;
		  position: absolute;
		  top: 25%;
		  left: 50%;
		  transform: translateX(-50%);
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  padding-bottom: 25%;
		  box-sizing: border-box;
		}

		@media screen and (max-width: 320px) {
		  .gauge {
		    max-width: 200px;
		  }
		}

		/* Untuk HP dengan layar pendek */
		@media screen and (max-height: 600px) {	  
		  .gauge {
		    max-width: 200px;
		  }
		}